.glyphicon-pencil,
.glyphicon-trash {
	cursor: pointer;
}

.table tbody tr:hover {
    background-color: #337ab7;
	color: white;
	cursor: pointer;
}

.table tbody TR TD {
	line-height: 32px;
}

.table tbody TR TD button {
	margin-left: 3px;
}